

p.matListItemLine {
    display: block;

    button {
        width: 300px;
        margin: 0;
        padding: 3px 6px;
        vertical-align: middle;
        border: none;
        background-color: #535B99;
        color: white;
        text-align: left;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        text-transform: uppercase;
        [mat-icon] {
           float:right;
            display: block;
            margin-left: 10px;
        width: 10px; height: 10px;
            &:before { content: attr(data-icon); }
        }
    }
}